{% load static %}
<!-- basic styles -->
<link href="{% static "css/bootstrap.min.css" %}"  rel="stylesheet" />
<!-- fonts -->
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"  />
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}"  />
<!-- ace styles -->
<link rel="stylesheet" href="{% static "css/daterangepicker-bs3.css" %}"  />
<link rel="stylesheet" href="{% static "css/ace.min.css" %}"  />
<link rel="stylesheet" type="text/css" href="{% static "css/beyond.min.css" %}" />
<link rel="stylesheet" href="{% static "css/base.css" %}"  />
<!-- ace settings handler -->
<script src="{% static "js/ace-extra.min.js" %}" ></script>